@import url(normalize.css);

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: 'Helvetica', Arial, sans-serif;
}

h1 {
    font-size: 30px;
    margin: 1em 0;
}

h2 {
    font-size: 20px;
    margin: 1em 0;
}

p {
    font-size: 15px;
    line-height: 1.5em;
    margin: 1em 0;
}

a {
    color: #690;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.main-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(255, 255, 255, 0.83);
    text-align: center;
}

.menu-item {
    padding: 0;
    margin: 0 10px;
    display: inline-block;
    font: bold 13px/60px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;;
    text-transform: uppercase;
}

.menu-item a {
    text-decoration: none;
    color: #7a6f6f;
}

.site-wrapper {
    width: 800px;
    margin: auto;
}

.content {
    padding: 0 0 150px;
}

.main-header {
    padding: 100px 0 40px;
    text-align: center;
    font: normal 1em/2em 'PT Sans', 'Helvetica', Arial, sans-serif;
    border-bottom: 1px dashed #dddddd;
}

.main-logo {
    width: 304px;
    height: 304px;
    margin: 0 auto 3em;
    background: 0 0 url(../images/logo.png) no-repeat;
}

.main-name {
    font-size: 35px;
    margin: 1em;
    font-weight: 300;
}

.main-descr {
    font-size: 18px;
    color: #acacac;
}

.row {
    overflow: hidden;
}

.row p {
    padding: 0 100px 0 0;
    color: #858585;
}

.col-50 {
    float: left;
    width: 50%;
}